serverConfVersion: 1
BrokerRegistry:
  mqKeyRepository: /home/aceuser/keystores/application
forceServerHTTPS: true
forceServerHTTPSecurityProfile: '{DefaultPolicies}:BasicAuthPolicy'
ResourceManagers:
  HTTPSConnector:
    KeystoreFile: '/home/aceuser/keystores/{{KEYSTORE}}'
    KeystoreType: 'PKCS12'
    KeystorePassword: 'brokerKeystore::password'
