serverConfVersion: 1
BrokerRegistry:
  mqKeyRepository: /home/aceuser/generic/mq-certs/application
forceServerHTTPS: true	
ResourceManagers:
  HTTPSConnector:
    KeystoreFile: '/home/aceuser/keystores/{{KEYSTORE}}'
    KeystoreType: 'PKCS12'
    KeystorePassword: 'brokerKeystore::password'
